<a href="https://colab.research.google.com/github/DipeshChothwe/Misc/blob/main/Efficient_Space_allocator_binpacking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Problem statement** #
Suppose you have 1000 flasks with weights (in grams) as given in this CSV file, and assume that you have one incubator that can run with total of 2000 grams of flasks on it.

Could you make a schedule of the incubator runs i.e tell us the set of flasks (identified by CSV row numbers) that will go on the incubator in run 1, 2, 3... so that we can run all the flasks in minimum number of runs?

In [1]:
#Install libraries and import required packages

! pip install binpacking

import binpacking
import pandas as pd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting binpacking
  Downloading binpacking-1.5.2.tar.gz (8.7 kB)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from binpacking) (0.16.0)
Building wheels for collected packages: binpacking
  Building wheel for binpacking (setup.py) ... done
  Created wheel for binpacking: filename=binpacking-1.5.2-py3-none-any.whl size=10106 sha256=92b27eef2653cd4433219d79406d8300bec82d606c35fe3d4a2ea6b059a2cd7e
  Stored in directory: /root/.cache/pip/wheels/32/bd/69/f86ce791ee53077576de9bee2bc8944ce187f445b416318488
Successfully built binpacking
Installing collected packages: binpacking
Successfully installed binpacking-1.5.2

In [2]:
# Reading csv from drive
from google.colab import drive
drive.mount('/content/drive')

df = pd.read_csv('/content/sample_data/flask_weights.csv')

Mounted at /content/drive

In [3]:
df[:5]

   weight
0    1206
1    1005
2     797
3     732
4     592

In [4]:
# weights start from row number 1 in the csv file
# Adding a column with row number corresponding to each weight

df['Row_number'] = pd.Series([*range(2,1002,1)], index=df.index)
df = df.iloc[:, [1,0]]

df[:5]

   Row_number  weight
0           2    1206
1           3    1005
2           4     797
3           5     732
4           6     592

In [5]:
# Convert the dataframe to a dict: {Row_number : weight}
df_tuple = list(df.to_records(index=False))
df_dict = dict(df_tuple)
df_dict[2]

1206

In [6]:
# Apply Binpacking algorithm to arrange weigts in minimum bin

Incubators = binpacking.to_constant_volume(df_dict,2000)

print ("First three incubators allocated {Row_number : weight}:\n", Incubators[0:3])
print ("\nTotal incubators required: ", len(Incubators))

First three incubators allocated {Row_number : weight}:
 [{2: 1206, 5: 732, 82: 62}, {3: 1005, 4: 797, 28: 197}, {6: 592, 7: 563, 8: 541, 17: 297, 506: 7}]

Total incubators required:  14

In [7]:
# Convert the list of incubators represented as {Row_number : weight} to:
# a dictionary of incubators represented as {Incubator ID : Row numbers alloted to that incubator}
# and a dictionary of represented as {Incubator ID : weights alloted to that incubator}

Incubator_keys = {}
Incubator_values = {}
c = 0
total_flasks = 0

for i in Incubators:
  c = c + 1
  Incubator_keys[c] = list(i.keys())
  Incubator_values[c] = list(i.values())

  total_flasks = total_flasks + len(Incubator_keys[c])

In [8]:
print("Incubator allotment based on flsk weight\n Incubator 1:", Incubator_values[1])

Incubator allotment based on flsk weight
 Incubator 1: [1206, 732, 62]

In [9]:
print("Incubator allotment based on Row number\n Incubator 1:", Incubator_keys[1])

print ("\nTotal flasks: ", total_flasks)

print ("\nminimum Incubators required: ", len(Incubators))

Incubator allotment based on Row number
 Incubator 1: [2, 5, 82]

Total flasks:  1000

minimum Incubators required:  14